/* GLOBAL COLOUR SCHEME (Based on the 'base16' colour scheme
available at http://chriskempson.com/projects/base16/) */
:root {
  --base00: #202020;
  --base01: #282828;
  --base02: #585858;
  --base07: #e8e8e8;
  --base08: #ab4642;
  --base09: #dc9656;
  --base0a: #f7ca88;
  --base0b: #a1b56c;
  --base0c: #86c1b9;
  --base0d: #7cafc2;
  --base0e: #ba8baf;
}
